html {
  background-color: whitesmoke;
}

#header {
  font-size: 50px;
  text-align: center;
  letter-spacing: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 0 black;
  color: dimgrey;
}

#cells {
  width: 608px;
  height: 608px;
  position: relative;
  margin: 30px auto;
}

#cells > .div {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  cursor: pointer;
  float: left;
  border-radius: 0.5em;
  background-color: aliceblue;
  font-size: 60px;
  line-height: 140px;
  text-align: center;
}

#cells > .div:active {
  background-color:aquamarine;
}

.selected {
  color: aliceblue;
  border: none;
}

#Shuffles {
  margin: 10px auto;
  width: 100px;
}

div > button{
  width: 100px;
  height: 50px;
  background-color:skyblue;
  border: 1px solid gray;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 0 black;
  color: black;
}

button:active {
  background-color:paleturquoise;
  color: paleturquoise;
}